#progressBarWrapper {
    background: #fff;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 5px;
}

#progressBar {
    counter-reset: step;
    list-style: none;
	display: flex;
}
#progressBar li {
	display: block;
    width: 20%;
    float: left;
    font-size: 12px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    color: #7d7d7d;
}
#progressBar li:before {
    width: 60px;
    height: 60px;
    line-height: 60px;
    border: 2px solid #7d7d7d;
    display: block;
    text-align: center;
    margin: 0 auto 3px auto;
    border-radius: 50%;
    position: relative;
    z-index: 2;
    background: #fff no-repeat center center;
    background-size: 60%;
    content: counter(step);
    counter-increment: step;
}
#progressBar li:after {
    width: 100%;
    height: 2px;
    content: '';
    position: absolute;
    background-color: #7d7d7d;
    top: 30px;
    left: -50%;
    z-index: 0;
}
#progressBar li:first-child:after {
    content: none;
}
#progressBar li.complete:before {
    background: #aaaaaa no-repeat center center;
    background-size: 60%;
}
#progressBar li.active:before {
    background: #55b776 no-repeat center center;
    background-size: 60%;
}
